<mat-toolbar class="mat-container-color">

  <span class="flex flex-auto justify-between">

    <span class="flex w-1/4 justify-start">My App Logo</span>

    <span  class="flex w-2/4 justify-center">
      <button mat-button>USE CASES</button>
      <button mat-button>PRICING</button>
      <button mat-button>SALES & SUPPORT</button>
      <button mat-button>ABOUT</button>
      <button mat-button>BLOG</button>
    </span>
 
    <span class="flex gap-2 w-1/4 justify-end">
      <button mat-stroked-button routerLink="/login">Login</button>
      <button mat-flat-button routerLink="/timeline">
        <mat-icon>cloud</mat-icon>
        Try For Free
      </button>

       <button mat-icon-button [matMenuTriggerFor]="mode_menu">
         <mat-icon>contrast</mat-icon>
    </button>

  
    <mat-menu #mode_menu="matMenu" class="flex flex-col">
      
        @for (theme of themeService.getModes(); track theme) {
             <button mat-menu-item  (click)="themeService.setThemeMode(theme.id)"> 
              @if(themeService.currentMode().id === theme.id)
              {
                 <mat-icon>radio_button_checked</mat-icon>
              }
              @else
              {
                 <mat-icon>radio_button_unchecked</mat-icon>
              }
               {{theme.displayName}}
             </button>    
        }

    </mat-menu>


    <button mat-icon-button [matMenuTriggerFor]="theme_menu">
         <mat-icon>format_color_fill</mat-icon>
    </button>

  
    <mat-menu #theme_menu="matMenu" class="flex flex-col">
       @for (theme of themeService.getThemes(); track theme) {
             <button mat-menu-item  (click)="themeService.setTheme(theme.id)"> 
              @if(themeService.currentTheme().id === theme.id)
              {
                 <mat-icon>radio_button_checked</mat-icon>
              }
              @else
              {
                 <mat-icon>radio_button_unchecked</mat-icon>
              }
               {{theme.displayName}}
             </button>    
        }
    </mat-menu>


    </span>
  </span>

  
</mat-toolbar>

<div class="flex justify-center mat-container-color py-20">

  <div class="w-1/2 text-center justify-center">
    <p class="text-6xl font-medium">This is a heading, long text length, centered, bold</p>
    <span class="flex w-2/3 justify-self-center">
      <p class="text-xl py-12">This webpage is a demonstration of Angular Material theming. Change the theme by clicking the button on the top right.</p>
    </span>
          <button mat-flat-button>
        <mat-icon>cloud</mat-icon>
        Try For Free
      </button>
  </div>

</div>

<div class="flex justify-center">

  <div class="w-1/2 text-center justify-center">
    <p class="text-2xl py-16">The following will be a set of material components that will adjust with the theme</p>

    <mat-card class="mat-card-elevation">
      <mat-card-header>
        <mat-card-title>Test Card</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This is a simple Material card with material chips in the footer. The appearance has been adjusted to have it's elevation removed</p>
      </mat-card-content>
      <mat-card-footer >
        <mat-chip-set class="p-4">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

  </div>

</div>