<app-sliding-form [views]="views">
    <ng-template [templateId]="mainId">

                <mat-card class="mat-elevation-z0 !p-0">
                    <mat-card-content>

                        <app-content-header [headerConfig]="details">
                        </app-content-header>

                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput />
                        </mat-form-field>

                        <mat-form-field >
                        <mat-label>Description</mat-label>
                        <textarea matInput
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>SKU</mat-label>
                            <input matInput />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input matInput value="22.2" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Quantity</mat-label>
                            <input matInput value="22.2" />
                        </mat-form-field>

                       

                    </mat-card-content>
                </mat-card>


                <mat-card class="mat-elevation-z0 !p-0 mt-2">
                    <mat-card-content>

                        <app-content-header [headerConfig]="category">
                        </app-content-header>


                        <ul ngTree #tree="ngTree" [(values)]="selected" class="basic-tree">
                        <ng-template
                          [ngTemplateOutlet]="treeNodes"
                          [ngTemplateOutletContext]="{nodes: (nodes$ | async) || [], parent: tree}"
                        />
                        </ul>


                    </mat-card-content>
                </mat-card>



    </ng-template>


    <ng-template #treeNodes let-nodes="nodes" let-parent="parent">
  @for (node of nodes; track node.value) {
    <li
      ngTreeItem
      [parent]="parent"
      [value]="node.value"
      [label]="node.name"
      [disabled]="node.disabled"
      [(expanded)]="node.expanded"
      #treeItem="ngTreeItem"
    >
      <span aria-hidden="true" class="material-symbols-outlined expand-icon" translate="no">{{
        node.children.length > 0 ? 'chevron_right' : ''
      }}</span>
      <span aria-hidden="true" class="material-symbols-outlined" translate="no">{{
        node.children.length > 0 ? 'folder' : 'docs'
      }}</span>
      {{ node.name }}
      <span
        aria-hidden="true"
        class="material-symbols-outlined selected-icon"
        translate="no"
        aria-hidden="true"
        >check</span
      >
    </li>
    @if (node.children.length > 0) {
      <ul role="group">
        <ng-template ngTreeItemGroup [ownedBy]="treeItem" #group="ngTreeItemGroup">
          <ng-template
            [ngTemplateOutlet]="treeNodes"
            [ngTemplateOutletContext]="{nodes: node.children, parent: group}"
          />
        </ng-template>
      </ul>
    }
  }
</ng-template>


</app-sliding-form>