@if(!headerConfig.overrideTemplate){

<div class="flex flex-row justify-between pb-3">
    <div class="flex flex-row gap-2 items-center truncate flex-shrink">
        <div class="truncate !text-base !font-medium" [matTooltip]="headerConfig.subtitle">
            {{headerConfig.title}}
        </div>

        @if(selectionDisplay){
        <div
            class="inline-flex items-center justify-center transparent-chip rounded-full text-xs font-semibold py-1 px-2">
            {{ selectionDisplay}}
        </div>
        }

        @if(titleButton){
        @if(titleButton.hide === undefined || titleButton.hide()){
        <app-display-button [buttonConfig]="titleButton"></app-display-button>
        }
        }

    </div>

    <app-button-row class="flex-grow" [buttonConfig]="actionButtons"></app-button-row>

</div>




}
@else {
<ng-content></ng-content>
}