<div class="relative flex flex-row items-center">
    @if(showLeft){
    <button class="overlay-button !absolute !z-1 " mat-icon-button (click)="scrollLeft()">
        <mat-icon class="mb-0.5">arrow_left</mat-icon>
    </button>
    }


    <div #scrollContainer class="flex overflow-x-auto overflow-y-hidden whitespace-nowrap space-x-2 pr-4 scroll-smooth">
        @for(field of config; track field) {

        @if(field.dateRangeConfig && field.dateRangeConfig.startDate && field.dateRangeConfig.endDate){
        <app-filter-chip [config]="{ key: field.key }"
            (filterChanged)="onFilterRemoved($event)" (editClicked)="openDialog()"></app-filter-chip>
        }
       

        }


    </div>

    @if(showRight){
    <button class="overlay-button !absolute !right-0" mat-icon-button (click)="scrollRight()">
        <mat-icon class="mb-0.5">arrow_right</mat-icon>
    </button>
    }




</div>