mat-chip-set {
  flex-wrap: nowrap !important;
}

.relative {
  position: relative;
}

.flex::-webkit-scrollbar {
  display: none;
}

.flex {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.overlay-button{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
  background-color: var(--mat-table-background-color, var(--mat-sys-surface)) !important
}

