:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px; 
border-top-right-radius: 10px;
border-bottom-right-radius: 10px; 
  background-color: var(--mat-table-background-color, var(--mat-sys-surface))
}