<div class="flex flex-row items-center" #totalWidth>
  <form [formGroup]="searchForm" class="flex flex-row items-center pr-2 form" [ngStyle]="{width: selectionInput ? 'auto' : '100%' }">

    <div class="hidden md:flex items-center w-full">
      <mat-form-field appearance="outline" subscriptSizing="dynamic"
        >
        <mat-label>{{config?.generic?.label}}</mat-label>
        <!-- Tab index and autofocus exists so the element is the first element that can be tabbed to on the screen -->
        <input [matTooltip]="(getLabel(config.generic?.label) | async)" tabindex="-1" #autofocus matInput formControlName="term"
          placeholder="{{config?.generic?.placeholder}}" />
        <mat-icon matPrefix>search</mat-icon>

        <div class="flex flex-row gap-1 items-center" matSuffix>
          <div class="w-[24px]" matSuffix>
            @if(searchForm.controls.term.value){
            <button class="cursor-pointer" type="button" mat-icon-button (click)="clearSearch()">
              <mat-icon mat-icon-button>close</mat-icon>
            </button>
            }

          </div>

          <mat-divider [vertical]="true" class="w-1 h-[24px] border-[#c4c6d0] pl-4"></mat-divider>

          @if (filterTemplate) {
          <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
          }
          @else {
          <button class="pr-2.5 pl-1 cursor-pointer" type="button" mat-icon-button matSuffix
            (click)="openAdvancedDialog()">
            <mat-icon>filter_list</mat-icon>
          </button>
          }
        </div>

      </mat-form-field>
    </div>


    <div class="md:hidden w-full items-center gap-2">

      <div class="w-full animate-fade-in" [hidden]="!isSearchOpen" #searchContainer>
        <mat-form-field class="!rounded-xl" subscriptSizing="dynamic" [ngStyle]=" {width: getSearchbarLength()}">
          <mat-label>{{config?.generic?.label}}</mat-label>
          <input #searchInput matInput formControlName="term" placeholder="{{config?.generic?.placeholder}}" [matTooltip]="(getLabel(config.generic?.label) | async)"
            (blur)="closeSearchInput($event)" (keydown)="onKeyDown($event)" />
          <mat-icon matPrefix>search</mat-icon>

          <div class="flex flex-row gap-1 items-center" matSuffix>

            <div class="w-[24px]" matSuffix>
              @if(searchForm.controls.term.value){
              <button class="cursor-pointer" type="button" mat-icon-button (click)="clearSearch()">
                <mat-icon mat-icon-button>close</mat-icon>
              </button>
              }

            </div>

            <mat-divider [vertical]="true" class="w-1 h-[24px] border-[#c4c6d0] pl-4"></mat-divider>


            @if (filterTemplate) {
            <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
            }
            @else {
            <button class="pr-2.5 pl-1 cursor-pointer" type="button" mat-icon-button matSuffix
              (click)="openAdvancedDialog()">
              <mat-icon>filter_list</mat-icon>
            </button>
            }
          </div>
        </mat-form-field>
      </div>

      <div class="flex items-baseline gap-2" [hidden]="isSearchOpen">
        <button mat-icon-button (click)="openSearchInput(searchInput)">
          <mat-icon>search</mat-icon>
        </button>
        @if (filterTemplate) {
        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
        }
        @else {
        <button class="pr-2.5 pl-1" type="button" mat-icon-button matSuffix (click)="openAdvancedDialog()">
          <mat-icon>filter_list</mat-icon>
        </button>
        }
      </div>

    </div>



  </form>

  @if(selectionInput){
  <div class="pl-1" #selectionCount>
    <button mat-button class="!p-0 cus-button !h-fit !w-fit" (click)="clearSelection()">
      <div class="flex flex-row items-center text-nowrap">
        {{selectionInput}} selected
        <mat-icon class="scale-[0.75]">close</mat-icon>
      </div>
    </button>
  </div>
  }

</div>



<div class="pt-1 pb-1" #filterChipRow [ngStyle]="{'width': chipWidth + 'px'}">

  @if(displayFilterList){
  @if(searchQuery?.advancedSearchQuery?.length != undefined)
  {
  @if(searchQuery && searchQuery.advancedSearchQuery != undefined && searchQuery.advancedSearchQuery.length != undefined
  && searchQuery.advancedSearchQuery.length > 0){

  <app-filter-chip-row class="w-full block" [config]="searchQuery.advancedSearchQuery"
    (filterChanged)="filterRemoved($event)" (editClicked)="openAdvancedDialog()"></app-filter-chip-row>

  }
  }

  }
</div>